*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: sans-serif;
    color: black;
    background-color: rgb(177, 175, 175);
    background-image: url(images/ẩm\ thực.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    background-color: white;
    height: 70px;
    display: flex;
    align-items: center;
}

h1{
    color: brown;
    margin-left: 50px;
    line-height: 60px;
}

.icon_food{
    font-size: 25px;
    margin-left: 12px;
    color: rgb(184, 82, 82);
}

form{
    display: block;
    box-sizing:border-box;
    border-style:groove;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 50px;
    padding-bottom: 55px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 14px;
}

form h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}
input{
    display: block;
}

.AC{
    font-size: 35px;
    margin-left: 13%;
    margin-right: 25%;
    padding-left: 10px;
    padding-right: 50px;
    margin-bottom: 15px;
     
}

.AC::placeholder {
    font-size: 20px;
    margin-bottom: 10px;
    opacity: 0.75;
}

.MK{
    font-size: 35px;
    margin-left: 13%;
    margin-right: 25%;
    padding-left: 10px;
    padding-right: 50px;
    margin-bottom: 15px;
}

.MK::placeholder{
    font-size: 20px;
    margin-bottom: 10px;
    opacity: 0.75;
}
a{
    text-align: right;
    display: block;
    margin-right: 11.5%;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 20px;
    color: rgb(78, 78, 186);
}
a:hover{
    background-color: white;
    text-decoration: underline;
}

.DN{
    display: block;
    text-align: center;
    margin-left: 13%;
    width: 75%;
    font-size: 16px;
    height: 30px;
    background-color: red;
    color: white;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.DK{
    display: block;
    text-align: center;
    margin-left: 13%;
    width: 75%;
    font-size: 16px;
    height: 30px;
    background-color: white;
    color: black;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}

